$solidWhite: rgb(255, 255, 255);
$silverGray: rgba(199, 203, 206, 1);
$veryLighGray: rgba(103, 100, 100, 0.03);
$veryLighPink: rgba(0, 0, 0, 0.05);
$clearBlue: rgb(37, 117, 247);
$borderColor: hsla(0, 0%, 0%, 0.06);
$placeHolderColor: rgba(0, 0, 0, 0.25);
$dividerColor: rgba(0, 0, 0, 0.122);
$lightGray: rgba(0, 0, 0, 0.7);


// -------- Fuuncions Globales -------- //
@mixin flexBox($alignItems, $justifyContent, $flexDirection: row) {
    display: flex;
    flex-direction: $flexDirection;
    align-items: $alignItems;
    justify-content: $justifyContent;
}